.error {
    display: inline-block;
    padding: 6px 20px;
    background: #ff5d5d;
    border-radius: 4px;
}
.error > p {
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.beforeFive {
    background: #ff6461;
}
.beforeFive > td > a {
    color: white;
}
.beforeTen {
    background: #fffb85;
}
.beforeTen >td > a {
    color: #ca9a1b;
}
ul {
    margin: 30px -15px;
    padding: 0;
}
.heads {
    list-style: none;
}
.heads > li, .data > li {
    font-size: 18px;
    border-bottom: 1px solid #b2b1b4;
    height: 55px;
}
.heads > li {
    padding: 14px 5px;
}
.data > li > span {
    display: inline-block;
    font-weight: bold;
    margin-top: 14px;
}
.data, .validation-ul {
    list-style: none;
}
.data > li > .form-group {
    margin: 0;
    padding: 10px;
}
.validation-ul > li {
    height: 55px;
    padding: 11px 5px;
}