.error {
    display: inline-block;
    padding: 6px 20px;
    background: #ff5d5d;
    border-radius: 4px;
}
.error > p {
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.beforeFive {
    background: #ff6461;
}
.beforeFive > td > a {
    color: white;
}
.beforeTen {
    background: #fffb85;
}
.beforeTen >td > a {
    color: #ca9a1b;
}
