
<div class="row">
    <div class="col-md-9 col-md-offset-2">
        <h1>Contact List</h1>
        <a class="btn btn-success" ng-link="['CreateContact']">Create new contact</a>
        <hr>
        <table class="table table-bordered">
            <tr class="info">
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Info</th>
                <th></th>
            </tr>
            <tr ng-repeat="contact in $ctrl.contactList" ng-class="contact.beforeFive === 'true' ? 'beforeFive' : (contact.beforeTen === 'true' ? 'beforeTen' : '')">
                <td><a href="contact/{{contact.id}}">{{$index + 1}}</a></td>
                <td><a href="contact/{{contact.id}}">{{contact.first_name}}</a></td>
                <td><a href="contact/{{contact.id}}">{{contact.last_name}}</a></td>
                <td><a href="contact/{{contact.id}}">{{contact.phone_number}}</a></td>
                <td><a href="contact/{{contact.id}}">{{contact.email}}</a></td>
                <td><a href="contact/{{contact.id}}">{{contact.birthday_date}}</a></td>
                <td><a href="contact/{{contact.id}}">{{contact.basic_info}}</a></td>
                <td><span class="glyphicon glyphicon-remove" ng-click="$ctrl.deleteContact(contact.id)"></span></td>
            </tr>
        </table>
    </div>
</div>

